<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="chef">Lista Chef</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="login" *ngIf="!authService.isAuthenticatedUser()">Sign-In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register" *ngIf="!authService.isAuthenticatedUser()">Sign-Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.isAuthenticatedUser()" (click)="logout()">Sign-Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
