<section class="background" style="background-color: #483D8B;">
  <div class="container py-5">
    <div class="text-center mb-4 animate__animated animate__fadeInDown">
      <h1 class="display-4 text-white">Le tue ricette SiwFood</h1>
      <h5 class="text-white animate__animated animate__fadeInUp">Un mondo culinario tutto da scoprire</h5>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col" *ngFor="let ricetta of ricette">
        <div class="card border-custom shadow-sm animate__animated animate__fadeIn">
          <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #7D68A1;">
            <h5 class="card-title m-0 text-white">{{ ricetta.title }}</h5>
            <i class="bi bi-receipt fs-4 text-white"></i> <!-- Icona del cucchiaio -->
          </div>
          <div class="card-body d-flex flex-column text-dark animate__animated animate__fadeIn">
            <div class="foto-container mb-3">
              <img *ngIf="ricetta.immagine1 && ricetta.immagine1.trim().length > 0"
                   [src]="ricetta.immagineUrl"
                   alt="Immagine della ricetta"
                   class="img-fluid rounded shadow-sm" loading="lazy">
            </div>
            <div class="d-flex flex-column gap-3 mt-auto">
              <a href="/ricette/{{ ricetta.id }}" class="btn btn-outline-dark btn-sm rounded-pill d-flex align-items-center justify-content-center animate__animated animate__bounceIn">
                Visualizza Ricetta <i class="bi bi-eye-fill ms-2"></i>
              </a>
              <button class="btn btn-outline-danger btn-sm rounded-pill d-flex align-items-center justify-content-center animate__animated animate__bounceIn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="selectedRicetta = ricetta">
                Elimina Ricetta <i class="bi bi-trash-fill ms-2"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Conferma Eliminazione</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Sei sicuro di voler eliminare la ricetta "{{ selectedRicetta?.title }}"?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-sm rounded-pill" data-bs-dismiss="modal">Annulla</button>
            <button type="button" class="btn btn-outline-danger btn-sm rounded-pill" data-bs-dismiss="modal" (click)="deleteRicetta(selectedRicetta?.id)">Elimina</button>
          </div>
        </div>
      </div>
    </div>

    <a href="/nuovaricetta" class="btn-add-recipe animate__animated animate__bounceIn" style="background-color: #7D68A1;">
      <i class="bi bi-plus-circle-fill fs-2 text-white"></i>
    </a>
  </div>
</section>
